numpy
scipy
sympy
scikit-learn
matplotlib
pandas
numba
seaborn
flask
flask-socketio
Django
beautifulsoup4
selenium
torch
torchvision
timm
autograd
jupyter
black
pylint
jsbeautifier
PyQt5
pygame
qrcode
tqdm
tinydb
PyAudio
neovim
fastapi
